.*
!.vscode-win
!.vscode-linux
!.gitignore
*.log
*.dll
*.lib
*.so
*.a
*.ilk
*.pdb
*.exe
*.obj
*.o
*.exp
*.bk
/compile_commands.json
/compile_flags.txt
__pycache__
/release
/bin
/doc/site
/test
/src/lorx
/src/lorxd
/src/lorxp